In [5]:
import spacy
import en_core_web_lg

nlp = en_core_web_lg.load()

#Raw string 1
string1 = 'The dog is small'

#Raw string 2
string2 = 'The dog is big'

doc1=nlp(string1)
doc1
doc2=nlp(string2)
doc1.similarity(doc2)

The dog is small and brown

In [3]:
ex1 = nlp('wolf dog cat bird fish')
for token1 in ex1:
    for token2 in ex1:
        print((token1.text,token2.text), "Similarity = ",token1.similarity(token2))

('wolf', 'wolf') Similarity =  1.0
('wolf', 'dog') Similarity =  0.5206573
('wolf', 'cat') Similarity =  0.5081626
('wolf', 'bird') Similarity =  0.49714813
('wolf', 'fish') Similarity =  0.36875135
('dog', 'wolf') Similarity =  0.5206573
('dog', 'dog') Similarity =  1.0
('dog', 'cat') Similarity =  0.80168545
('dog', 'bird') Similarity =  0.47875515
('dog', 'fish') Similarity =  0.40854338
('cat', 'wolf') Similarity =  0.5081626
('cat', 'dog') Similarity =  0.80168545
('cat', 'cat') Similarity =  1.0
('cat', 'bird') Similarity =  0.5236873
('cat', 'fish') Similarity =  0.4180654
('bird', 'wolf') Similarity =  0.49714813
('bird', 'dog') Similarity =  0.47875515
('bird', 'cat') Similarity =  0.5236873
('bird', 'bird') Similarity =  1.0
('bird', 'fish') Similarity =  0.5582421
('fish', 'wolf') Similarity =  0.36875135
('fish', 'dog') Similarity =  0.40854338
('fish', 'cat') Similarity =  0.4180654
('fish', 'bird') Similarity =  0.5582421
('fish', 'fish') Similarity =  1.0

In [11]:
mylist = [(token1.text,token2.text, token1.similarity(token2)) for token2 in ex1 for token1 in ex1]

import pandas as pd

df = pd.DataFrame(mylist)

df.columns = ['Token1', 'Token2', 'Similarity']

df

   Token1 Token2  Similarity
0    wolf   wolf    1.000000
1     dog   wolf    0.520657
2     cat   wolf    0.508163
3    bird   wolf    0.497148
4    fish   wolf    0.368751
5    wolf    dog    0.520657
6     dog    dog    1.000000
7     cat    dog    0.801685
8    bird    dog    0.478755
9    fish    dog    0.408543
10   wolf    cat    0.508163
11    dog    cat    0.801685
12    cat    cat    1.000000
13   bird    cat    0.523687
14   fish    cat    0.418065
15   wolf   bird    0.497148
16    dog   bird    0.478755
17    cat   bird    0.523687
18   bird   bird    1.000000
19   fish   bird    0.558242
20   wolf   fish    0.368751
21    dog   fish    0.408543
22    cat   fish    0.418065
23   bird   fish    0.558242
24   fish   fish    1.000000

In [16]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

document1 = 'The construction of roads and railways'
document2 = 'Roads and bridges project'

stopwords = list(STOP_WORDS)

nlp = en_core_web_lg.load()

docx = nlp(document1)

for token in docx:
    print(token.text)
    
word_frequencies = {}

for word in docx:
    if word.text not in stopwords:
        if word.text not in word_frequencies.keys():
            word_frequencies[word.text] = 1
        else:
            word_frequencies[word.text] += 1
            
word_frequencies

The
construction
of
roads
and
railways

{'The': 1, 'construction': 1, 'roads': 1, 'railways': 1}